. form-container {
  max-width: 600px;
  margin: 30px auto;
  backgroud-color:pink;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px black (0,0,0,0.1);
  border: 1px solid pink;
}
form {
  display: flex;
  flex-direction: column: 
}

form label{
  margin-top:15px;
  font-weight: bold;
  coler: brown;
}

form input,
form select,
form textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid pink;
  backgroud-color: pink;
  box-sizing:border-box;
}

form textarea {
  resize: vertical;
}

form button {
  margen-top: 25px;
  padding: 12px; 
  font-size: 18px;
  backgroud-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: backgroud-color 0.3s ease;
}

form button: hover {
  backgroud-color: brown;
} 