table {
          width: 100%;
          border-collapse: collapse; /* Remove espaços entre as bordas */
      }
      th, td {
          border: 2px solid black; /* Adiciona bordas às células */
          padding: 8px; /* Adiciona espaçamento interno às células */
          text-align: center;
      }
      th {
          background-color: yellow; /* Cor de fundo para o cabeçalho */
          color:black; /* Cor do texto no cabeçalho */
      }

      h1 {
          color: black;
      }#receitas
        background-color: rgb(223, 247, 11);
        border: 2px solid rgb(131, 236, 152);
        padding: 20px; 
        
wtz-xpxt-phs